*.sw*
.stack*/
*.lock
data/
site_key*
cookies.txt
log/
private_notes.md
MonadCatchIO-transformers/
schema.txt
private_notes.md

snaplets/chess
snaplets/elq
snaplets/log
snaplets/persist
snaplets/persist-auth
snaplets/postgresql-simple
snaplets/service
snaplets/site_key.txt
snaplets/snaplets
*.dump
notes.md
chess-backend.cabal
error.txt
log.txt

